	<!-- BARRA TOPO -->
	
	
	
	<div class="navbar">
		<div class="navbar-inner"> 
			<a class="brand" href="@routes.Application.home()"><h1><font color="red">FMU<small><br><font color="red">Faculdades Metropolitanas Unidas</font></small></font color="red"></h1></a>
			
			<!-- SPAN PARA LOGIN -->
			 <span class="navbar-text pull-right">
				@if(session.contains("connected")) {
			 		Bem vindo @session.get("connected") <a href="@routes.Application.logout"> <span class="label lbl-info"> Sair</span> </a>
				 }else {
				 <br><br>
			  		<a  href="@routes.Application.login"> <span class="badge badge-success"><h4>Login</h4> <span>  </a> 
			 	} 

			 </span>
			 <!-- FIM SPAN PARA LOGIN -->
		<ul class="text-center">
			<br>
			<a class="divider-vertical"><span class="badge badge-info"><h1><i><font color="white"><marquee>GetInfo.</marquee></span></font></i></h1></a> 
			 
			 
			
			
		</ul>
	</div>
	</div>		
	</p>
	
			 <!-- FIM BARRA TOPO -->
			 
	