@main("GetInfo.") {


<body background="@routes.Assets.at("bootstrap/img/bkground_historia.jpg")" bgproperties="fixed">
<div class="span3">

<img src="@routes.Assets.at("bootstrap/img/telefone_contato.jpg")" class="img-circle pull-left">
</div>


 <div class="span6" style="text-align:center">
 <br><br><br>
 <h4>Telefone para Contato</h4>
 Celular: 9 9364-0352 <br>
 Operadora: Claro
 
 <h4>E-mail para contato</h4>
 
 gustavodomlopesgmail.com
 <br><br><br><br><br>
 <center>
 <h3> Atencao: Em breve abriremos inscricoes para entrevistas, envie seu curriculo. Contamos com voce !! </h3>
 </center>
 <br><br><br><br><br><br>
 <img src="@routes.Assets.at("bootstrap/img/trabalhe_conosco.jpg")" class="img-rounded pull-center">
 </div>
 
 

<div class="span3">
<br><br><br><br><br><br><br><br><br>
<img src="@routes.Assets.at("bootstrap/img/mail.jpg")" class="img-circle pull-right">
</div>

}
