@(formAtividades: Form[Atividades])
@import helper._
@import helper.twitterBootstrap._

@main("GetInfo") {

<a href="@routes.Application.index()"><span class="label label-info">Voltar</span> </a>

<body background="@routes.Assets.at("bootstrap/img/bkground_atividades.jpg")" bgproperties="fixed">
</body>

<center>
@form(routes.Admin.addAtividade()) {

@inputDate(formAtividades("data"), '_label -> "Data:")
@inputText(formAtividades("conteudo"), '_label -> "Conteudo: ")
@inputText(formAtividades("disciplina"), '_label -> "Disciplina")

<select name="tipo">
	<option value="">Selecione o Tipo</option>
	<option value="PROVA">Prova</option>
	<option value="TRABALHO">Trabalho</option>
	<option value="LABORATORIO">Laboratorio</option>
</select>

<br>
<button type="submit" name="enviar">Enviar</button>

}



	

	
}
</center>
