@(message: String)
@import helper._
@import helper.twitterBootstrap._
@main(message) {
																				
<a href="@routes.Application.index()"><span class="label label-info">Voltar</span> </a>

<body background="@routes.Assets.at("bootstrap/img/bkground_conatividades.jpg")" bgproperties="fixed">
</body>
<center>
   <table border="4" width=250 height=100> 
	@for(atividade <- Atividades.find.all()) {
     <tr><td>
      <center> <strong> @atividade.data.format("dd MMMM yyyy") </strong> </center>	</p>
	  <center> <strong> @atividade.conteudo </strong> </center></p>
	  <center> <strong> @atividade.disciplina </strong> </center></p>
	<center> <h4><font color="red"> <marquee Behavior="alternate"> @atividade.tipo</marquee> </h4> </font></center>

 @if(session.contains("connected") && session.get("connected")=="admin@fmu.br") {
	 
<a href="@routes.Admin.deletaAtividades(atividade.id)"><span class="label label-important">Remover</span> </a>
																				}
	 
	 </td></tr>
	 
	}
	
</table>
    </center>
}
