@(message: String)
@import helper._
@import helper.twitterBootstrap._

@main("GetInfo.") {

<a href="@routes.Application.index()"><span class="label label-info">Voltar</span> </a>

<body background="@routes.Assets.at("bootstrap/img/bkground_conatividades.jpg")" bgproperties="fixed">
</body>
    <center>
    
    <table border="4" width=250 height=100> 
	@for(evento <- Eventos.find.all()) {
     <tr><td>
     <center> <strong>  @evento.data.format("dd MMMM yyyy") </strong>	</center></p>
      <center> <strong>  @evento.local </strong></center></p>
        <center> <strong> @evento.valor </strong></center></p>
	    <center><strong>  @evento.conteudo </strong></center></p>
	 <h4><font color="red"> <center><marquee Behavior="alternate"> @evento.tipo</marquee> </center></h4> </font>
	 
     @if(session.contains("connected") && session.get("connected")=="admin@fmu.br") {
	 
	 <a href="@routes.Admin.deletaEventos(evento.id)"><span class="label label-important">Remover</span> </a>
	 																				}
	 </td></tr>
	 </center>
	}
	
</table>


    
}
