@(formEventos: Form[Eventos])
@import helper._
@import helper.twitterBootstrap._

@main("GetInfo") {

<a href="@routes.Application.index()"><span class="label label-info">Voltar</span> </a>

<body background="@routes.Assets.at("bootstrap/img/bkground_atividades.jpg")" bgproperties="fixed">
</body>
<center>
@form(routes.Admin.addEventos()) {

@inputDate(formEventos("data"), '_label -> "Data:")
@inputText(formEventos("local"), '_label -> "Local: ")
@inputText(formEventos("valor"), '_label -> "Valor:")
@inputText(formEventos("conteudo"), '_label -> "Conteudo: ")

<select name="tipo">
	<option value="">Selecione o Tipo</option>
	<option value="PALESTRA">Palestra</option>
	<option value="FILME">Filme</option>
	<option value="APRESENTACAO">Apresentacao</option>
	<option value="REUNIAO">Reuniao</option>
	<option value="DEBATE">Debate</option>
</select>

<br>
<button type="submit" name="enviar">Enviar</button>
}
</center>


}
