@main("GetInfo.") {


<body background="@routes.Assets.at("bootstrap/img/bkground_historia.jpg")" bgproperties="fixed">
</body>
<br><br><br>


<table align="center" border="2" width="500">
<th bgcolor="SteelBlue">VISAO</th>
<tr bgcolor="lightgray"><td>
<center><br>
<strong><h4>
	 Ser utilizado por todos na Universidade, e reconhecido pela qualidade e praticidade da aplicacao.
</h4></strong>
<br><br>
</center>

</td>
</tr>

</table>

<br>
<table align="center" border="2" width="500">
<th bgcolor="SteelBlue">MISSAO</th>
<tr bgcolor="lightgray"><td>
<center><br>
<strong><h4>
	 Garantir a satisfacao de todos os alunos que utilizarem o GetInfo. para consultar suas atividades, provas, trabalhos,
	 agendas, eventos de todos os tipos. E que assim superem suas expectativas.
</h4></strong>
<br><br>
</center>

</td>
</tr>

</table>

<br>
<table align="center" border="2" width="500">
<th bgcolor="SteelBlue">VALORES</th>
<tr bgcolor="lightgray"><td>
<center><br>
<strong><h4>
	 Trabalho em equipe;<br>
	 Compromisso com os alunos;<br>
	 Etica;<br>
	 Qualidade;<br>
	 Praticidade.<br>
</h4></strong>
<br><br>
</center>

</td>
</tr>

</table>
}
