@(message: String)

@main("GetInfo.") {


<center>
<div  class="span3"> </div>
<div class="span6">

           <div class="well sidebar-nav" >           
                            <ul class="nav vav-list">
                                <li class="nav-header">
                                   <h3 style="font-family:goudy stout"><font color="#4F4F4F"> <h1><strong>PORTAL DE AGENDAS</strong></h1></font> </h3>
                                </li>
                                @if(session.contains("connected") && session.get("connected")=="admin@fmu.br") {
                                <li>
                                    <a href="@routes.Admin.atividades()">
                                    <h4> <font color="DimGray">   Cadastrar Atividades </font>  </h4>
                                    </a>
                                   
                                </li>
                                } 
                                <li>
                                    <a href="@routes.Admin.consulta_atividades()">
                                      <h4> <font color="DimGray">  Consulta de Atividades </font>  </h4>
                                    </a>
                                </li>   
                                <li>
                                @if(session.contains("connected") && session.get("connected")=="admin@fmu.br") {
                                    <a href="@routes.Admin.eventos()">
                                       <h4> <font color="DimGray">  Cadastro de Eventos </font>  </h4>
                                    </a>
                                </li>  
                                }
                                 <li>
                                    <a href="@routes.Admin.consulta_eventos()">
                                   <h4>   <font color="DimGray">    Consulta de Eventos </font>  </h4>
                                    </a>
                                </li>  
                               
                                <li>
                                    <hr>
                                </li>
                                
                            
                            </ul>
                        </div>
                       
                     </div>
                     
</center>



<body background="@routes.Assets.at("bootstrap/img/bkground_index.jpg")" bgproperties="fixed">
</body>

}
