@(formLogin: Form[Application.Login])
@import helper._
@import helper.twitterBootstrap._
@main("Autenticação Necessária") {


       <center> 
		@components.loginform(formLogin)
</center>

<body background="@routes.Assets.at("bootstrap/img/bkground_home-login.jpg")" bgproperties="fixed">
</body>


}
    