@main("GetInfo.") {
<br><br><br>
<table align="center" border="2" width="500">
<th bgcolor="SteelBlue">SOBRE</th>
<tr bgcolor="lightgray"><td>
<center><br><br>
<strong><h4>
	O GetInfo. foi criado com o intuito de ajudar e auxiliar
 todos os alunos durante o semestre com relacao as datas,
 para assim nao perder os prazos, de eventos ate provas e 
 						atividades.
</h4></strong>
<br><br><br>
</center>

</td>
</tr>

</table>

<body background="@routes.Assets.at("bootstrap/img/bkground_historia.jpg")" bgproperties="fixed">

</body>


}
